# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

/Archive

/.vscode
/.serverless

.pyc
__pycache__/. 
/.pyc
/.cpython*

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
basket_management/__pycache__/basket_contents.cpython-312.pyc
basket_management/__pycache__/basket_management.cpython-312.pyc
basket_management/__pycache__/basket_utils.cpython-312.pyc
